

body {
    color: #45014E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 6.25rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #7D5A50;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #7D5A50;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #F0997D;
}

p {
    line-height: 2;
}

a {
    color: #7D5A50;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #45014E;
}

hr {
    border: dotted 6px #7D5A50;
    border-bottom: none;
    width: 5%;
    margin: 50px auto;
}



.intro {
    width: 30%;
    margin: auto;
}

.top-conteiner{
    background-color: #FFEDDB;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 60px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.skill-row{
    width: 50%;
    margin: auto;
    margin: 100px auto;
    text-align: left;
}

.girl-img {
    border-radius: 30%;
}

.computer-image {
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 30%;
}

.coding-image{
    width: 25%;
    float: right;
    margin-left: 30px;
    border-radius: 30%;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #FFEDDB;
    padding: 50px 0 20px;
}

.contact-message {
    width: 40%;
    margin: 40px auto;
}

.copyright {
    font-size: 0.75rem;
    padding: 20px 0;
}


.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 7px 3px 12px #F0997D;
    -moz-box-shadow: 7px 3px 12px #F0997D;
    box-shadow: 7px 3px 12px #F0997D;
    font-family: 'Montserrat', sans-serif;
    color: #F0997D;
    font-size: 20px;
    background: #A75D5D;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #EDCDBB;
    text-decoration: none;
  }